@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&family=Lato:wght@300;400&family=Lobster&family=Open+Sans:wght@300;400;700&family=Roboto+Slab:wght@300;400&family=Roboto:wght@300;400&display=swap');

$green-color: #479488;

@mixin bookStyle($width, $height) {
    width: $width;
    height: $height;  
}


// Styles communs à toutes les tailles d'écran
html, body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
    margin-top: 20px;
}

#myBooks {
    img[
        src="img/logo/logo.png"] {
        width: 100px; 
        display: block;  
        margin: 0 auto;
    }
}

.green-button,
.cancel-button,
.search-button {
    border-radius: 5px;
    font-size: 16px;
    padding: 10px 20px;
    color: white;
}

.btn-special {
    width: 33%;  
    height: 33%; 
    
}

.green-button {
    background-color: $green-color;
}

.cancel-button {
    background-color: #da5c4c;
}

.search-button {
    background-color: #479488;
}


hr, .title {
    border-radius: 10px; 
}

hr {
    width: 80%;
    margin: 0 auto;
    
}

.title {
    border-radius: 3px;
    background: lightgrey;
    width: 80%;
    margin: 0 auto;
}

#searchForm {
    display: block;
    width: 80%;
    margin-top: 20px;
    margin: 0 auto; 
    flex-direction: column;
    align-items: center;
    & > * { // cible tous les éléments directs à l'intérieur de #searchForm
        width: 100%; // les rend aussi larges que possible à l'intérieur de #searchForm
    }
    input, button {
        margin-bottom: 10px;
        width: 100%; 
        height: 100%;
        padding: 10px;
    }
    button {
        margin-bottom: 10px;
        width: 30%; 
        height: auto; 
        padding: 5px 10px; 
    }
}

#content {
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2,
.title {
    text-align: center;
    
}

.form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    input[type="text"] {
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-top: 5px; 
    }
}

.book img {
    width: 50px;
    height: auto;
}

#resultsContainer, #pochlisteContainer {
    margin-top: 10px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 
    width: 100%;  
}

// Style pour les images des livres
.book-thumbnail, .img {
    width: 50px;
    height: auto;
}

 .book-card  {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    flex-basis: calc(33.33% - 20px);
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 10px;
    min-height: 380px; 

    .book-title, h4, .book-id {
        font-weight: bold;
    }

    .bookmark-button, .delete-button {
        position: absolute; 
        top: 10px; 
        right: 10px; 
    }

    .bookmark-button i {
        color: $green-color;
    }

    .book-thumbnail {
        margin: 0 auto;      
        margin-top: auto;
        margin-bottom: 10px; 
        order: 5;
        width: 100px;      
        height: 150px;     
        object-fit: cover;
    }

    h3, h4 {
        order: 1;
    }

    .book-id {
        order: 2;
    }

    .book-authors {
        order: 3;
    }

    .book-description {
        order: 4;
    }

    .bookmark-button, .delete-button {
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: rgba(255, 255, 255, 0.7); 
        border: none;
        cursor: pointer;
    }
    
    .fas.fa-trash {
        right: 10px;  
    }

    .book-info {
        margin-bottom: 5px;
        font-size: 0.9rem;

        & > * {
            margin-bottom: 5px;
        }
    }

    .book-image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 230px; 

        .book-image {
            max-width: 100%; 
            height: auto;
            max-height: 100%; 
            object-fit: contain; 
        }
        .book-thumbnail {
            order: 1;
        }
       
    }
}
    
// Styles pour mobile
@media only screen and (max-width: 767px) {
    body {
        margin-top: 10px; 
     }


     h2, .title {
        font-size: 24px; 
     }

     .form-field input[type="text"] {
        padding: 10px; 
     }
}

     .book-card {
        flex-basis: 100%;  
    }
    #searchForm button {
        display: block;
        margin-bottom: 10px;
    }
    .green-button,
    .cancel-button,
    .search-button {
        border-radius: 5px;
        font-size: 12px;
        padding: 10px 20px;
        color: white;
    }

// Styles pour tablette
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    body {
        margin-top: 15px; 
     }

     h2, .title {
        font-size: 28px; 
     }

     .book-card {
        flex-basis: calc(30% - 20px); 
    }
}

// Styles pour ordinateur
@media only screen and (min-width: 1024px) {
     .book-card {
        flex-basis: calc(15% - 20px);  
    }
}

