@import url("https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&family=Lato:wght@300;400&family=Lobster&family=Open+Sans:wght@300;400;700&family=Roboto+Slab:wght@300;400&family=Roboto:wght@300;400&display=swap");
/* Styles pour mobile */
@media only screen and (max-width: 767px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    margin-top: 20px;
  }
}
@media only screen and (max-width: 767px) and (max-width: 767px) {
  #myBooks img[src="img/logo/logo.png"] {
    width: 60px;
  }
}
@media only screen and (max-width: 767px) {
  .green-button {
    font-size: 14px;
    padding: 8px 16px;
  }
  hr {
    width: 12vw;
  }
  #searchForm {
    margin-bottom: 300px;
  }
  #content {
    margin-bottom: 100px;
  }
  h2 {
    font-size: 24px;
  }
  .title {
    margin-top: 10px;
    font-size: 28px;
  }
  .cancel-button {
    font-size: 14px;
    padding: 8px 16px;
  }
  .search-button {
    font-size: 14px;
    padding: 8px 16px;
  }
  .form-field label {
    font-size: 14px;
  }
  .form-field input[type=text] {
    padding: 3px;
  }
  .book-card img {
    flex-basis: 100%;
  }
  .resultsItem, .book-card {
    width: 200px;
    height: 300px;
    width: 150px;
    height: 225px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  body {
    justify-content: center;
    align-items: center;
  }
  #myBooks img[src="img/logo/logo.png"] {
    width: 80px;
  }
  .green-button,
  hr,
  .cancel-button,
  .search-button {
    width: 80%;
  }
  #searchForm {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #searchForm label, #searchForm input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
  .form-field {
    flex-basis: 45%;
  }
  .search-button,
  .cancel-button {
    flex-basis: 45%;
  }
  #content {
    width: 80%;
    height: auto;
    margin-bottom: 0;
  }
  h2,
  .title {
    font-size: 24px;
    text-align: center;
  }
  .form-field input[type=text] {
    padding: 8px;
  }
  .title {
    margin-top: 20px;
  }
  .book-card {
    flex-basis: calc(50% - 20px);
  }
  .resultsItem, .book-card {
    width: 200px;
    height: 300px;
    width: 175px;
    height: 262.5px;
  }
}
/* Styles pour ordinateur */
@media only screen and (min-width: 1024px) {
  body {
    /* Modifier les styles du corps pour ordinateur */
  }
  body #myBooks img[src="img/logo/logo.png"] {
    width: 50px;
  }
  body .green-button {
    font-size: 16px;
    padding: 10px 20px;
  }
  body hr {
    width: 8vw;
  }
  body #searchForm {
    margin-bottom: 600px;
  }
  body #content {
    margin-bottom: 100px;
  }
  body h2 {
    font-size: 32px;
  }
  body .title {
    font-size: 36px;
  }
  body .cancel-button {
    font-size: 16px;
    padding: 10px 20px;
  }
  body .search-button {
    font-size: 16px;
    padding: 10px 20px;
  }
  body .form-field label {
    font-size: 16px;
  }
  body .form-field input[type=text] {
    padding: 5px;
  }
  body .book img {
    width: 80px;
    flex-basis: calc(33.33% - 20px);
  }
}
html {
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  margin-top: 20px;
}

#myBooks img[src="img/logo/logo.png"] {
  width: 100px;
}

.green-button {
  background-color: #479488;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
}

hr {
  width: 8vw;
  margin: 0 auto;
}

#searchForm {
  display: none;
  margin-top: 20px;
  margin-bottom: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#searchForm input,
#searchForm button {
  margin-bottom: 10px;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h2 {
  text-align: center;
}

.title {
  text-align: center;
}

.cancel-button {
  background-color: #da5c4c;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
}

.search-button {
  background-color: #479488;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.form-field input[type=text] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 15px;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

input[type=text] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
}

.book img {
  width: 50px;
  height: auto;
}

.pochliste-book h4 {
  font-size: 16px;
}
.pochliste-book button {
  font-size: 14px;
  padding: 8px 16px;
}

#resultsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.resultsItem, .book-card {
  width: 200px;
  height: 300px;
  flex-basis: calc(33.33% - 20px);
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.book-card {
  border: 1px solid #ddd;
  padding: 15px;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.book-card .book-info {
  align-self: flex-start;
}
.book-card .book-info .book-title {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 5px;
}
.book-card .book-info .book-author,
.book-card .book-info .book-release {
  font-size: 16px;
  margin-bottom: 5px;
}
.book-card .book-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}
.book-card .book-image-container .book-image {
  max-width: 100%;
  height: auto;
}

/*# sourceMappingURL=style.css.map */
